{% extends 'base.html.twig' %}

{% block booby %}

<div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-8 mx-auto d-block mb-2">
                     <!-- table light start -->
                        <div class="card">
                            <div class="card-body">

                    <div class="nofity-list">
                    {% for n in notifs %}
                        
                    
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                            <div class="notify-text">
                                                <p> {{ n.contenu }} </p>
                                                <span>envoyé : {{ n.envoyerAt|date('y/m/d H:i') }} </span>
                                            </div>
                                        </a>

                                        {% endfor %}
                                    </div>

                                  </div>
                                  </div>
                                  </div>
                                  </div>
                                  </div>  

{% endblock %}